<div class="registration">
  <div class="registration-body">
    <div class="registration-body__wrapper container">
      <p class="hint-text translucent-hint-text"><strong class="star">*</strong> - поля обязательные для заполнения.</p><br>
      <p class="hint-text hint-text-top">Если у вас есть электронная почта на ngtu.ru, пожалуйста, авторизуйтесь.</p>
      <br>
      <table class="container">
        <tr><h3 class="registration-body__title">Почта и пароль</h3></tr>
        <tr>
          <td><p class="registration-body__text">Электронная почта<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Придумайте пароль<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input" type="password"></td>
        </tr>
        <br>
        <tr><h3 class="registration-body__title">Личные данные</h3></tr>
        <tr>
          <td><p class="registration-body__text">Фамилия<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Имя<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Отчество</p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Пол<strong class="star">*</strong></p></td>
          <td>
            <form class="for_display">
              <input class="registration-body__input-agree" type="radio" id="m" name="gender" value="Man">
              <label for="m">Мужской</label>
              <input class="registration-body__input-agree" type="radio" id="w" name="gender" value="Woman">
              <label for="w">Женский</label>
            </form>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Дата рождения<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input-date" type="date"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Страна<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Город<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Адрес</p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Телефон</p></td>
          <td><input class="registration-body__input"><br>
            <p class="translucent-hint-text">Используется для связи с вами администрации портала</p></td>
        </tr>
        <tr>
          <td></td>
          <td class="for_display">
            <input type="checkbox" id="ok" class="registration-body__input-agree">
            <label for="ok"> Я согласен с условиями пользовательского соглашения.</label>
          </td>
        </tr>
      </table>
      <br>
      <button class="registration-body__next-button">Далее</button>
      <br>
      <br>
      <p class="registration-body__text">Уже есть аккаунт? <a class="registration-body__link-to-auth" href="#">Войдите</a>.</p>
    </div>
  </div>
</div>

