<div class="documents">
  <div class="document__wrapper container">
    <h1>Отчетная документация</h1>
    <br>
    <div class="documents__delimiter">
      Финансовая отчетность
    </div>
    <br>
    <br>
    <div class="documents__paginator">
      <ul class="documents__paginator-list">
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>Финансовый план на 2021 год</i></strong> (pdf)</p></li>
      </ul>
      <br>
      <div class="documents__paginator-pages">
        <div class="documents__paginator-page"><img class="navigation" src="assets/img/previous.svg"></div>
        <div class="documents__paginator-page">1</div>
        <div class="documents__paginator-page">2</div>
        <div class="documents__paginator-page">3</div>
        <div class="documents__paginator-page">4</div>
        <div class="documents__paginator-page"><img class="navigation" src="assets/img/next.svg"></div>
      </div>
    </div>
    <br>
    <br>
    <div class="documents__delimiter">
      Финансовая отчетность
    </div>
    <br>
    <br>
    <div class="documents__paginator">
      <ul class="documents__paginator-list">
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
        <li><p class="text"><strong><i>12.05.2021: VIII съезд Ассоциации выпускников ТПУ</i></strong> (pdf)</p></li>
      </ul>
      <br>
      <div class="documents__paginator-pages">
        <div class="documents__paginator-page"><img class="navigation" src="assets/img/previous.svg"></div>
        <div class="documents__paginator-page">1</div>
        <div class="documents__paginator-page">2</div>
        <div class="documents__paginator-page">3</div>
        <div class="documents__paginator-page">4</div>
        <div class="documents__paginator-page"><img class="navigation" src="assets/img/next.svg"></div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
