<div class="association">
  <div class="association__wrapper container">
    <h1>Филиалы и представительства</h1>
    <br>
    <h2>Об Ассоциации</h2>
    <br>
    <p class="text">Ассоциация выпускников ТПУ создана в 1992 году для укрепления связи выпускников с университетом. Работа Ассоциации направлена на оказание помощи выпускникам в переподготовке и повышении квалификации; содействие в организации заключения договоров на подготовку специалистов и научные исследования; взаимодействие выпускников друг с другом.</p>
    <br>
    <p class="text">Широкая филиальная сеть объединяет 49 филиалов Ассоциации на предприятиях и в городах: от Комсомольска - на Амуре до Петербурга. Центр содействия выпускникам «Томский политехник» в Москве объединяет свыше 500 выпускников ТПУ. В городе Железногорске на двух предприятиях – АО «Информационные спутниковые системы» им. академика М.Ф. Решетнёва» и ФГУП "Горно-химический комбинат" - филиалы насчитывают около 400 выпускников университета.</p>
    <br>
    <p class="text">Созданы филиалы в Китае, Вьетнаме, Казахстане, Узбекистане. На многих предприятиях по инициативе Ассоциации возрождаются Советы молодых специалистов.</p>
    <br>
    <p class="text">Ассоциация выпускников является соучредителем Фонда целевого капитала ТПУ (эндаумент-фонд), созданного для получения дополнительных ресурсов на развитие университета.</p>
    <h2>Направления деятельности Ассоциации</h2>
    <ul>
      <li class="text">создание базы данных выпускников ТПУ для обеспечения постоянной связи выпускников с университетом и между собой,</li>
      <li class="text">оказание организационной помощи предприятиям в повышении профессиональной квалификации выпускников ТПУ,</li>
      <li class="text">участие в работе по направлению молодежи на учебу в ТПУ,</li>
      <li class="text">помощь в распределении и трудоустройстве выпускников университета,</li>
      <li class="text">содействие налаживанию научных и деловых связей между ТПУ и предприятиями, организациями и учреждениями.</li>
    </ul>
    <br>
    <br>
    <h2>Отчетная документация Ассоциации выпускников ТПУ</h2>
  </div>
</div>
