h1{
  color:#0072BC;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 64px;
}
h2{
  color:#0072BC;
  font-family: Merriweather;
  font-size: 40px;
}
.text{
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.5;
}
a{
  color:#0072BC;
}
@media (max-width: 768px){
  h1{
    font-size:32px
  }
  h2{
    font-size:20px
  }
  .text{
    font-size:15px;
  }
}
@media (max-width: 350px){
  h1{
    font-size:28px
  }
}
