<div class="History">
  <button *ngIf="scrolled" (click)="scrollToTop()" id="scroll-up"><img class="icon scroll-icon"
      src="../../../assets/img/scroll.png" />ВВЕРХ</button>
  <div class="success__crumbs">
    <div class="container justify-content-center">
      <div class="success__crumbs-wrapper">
        <a href="#" class="success__crumbs-link">
          Главная
        </a>
        &nbsp;/ &nbsp;История ассоциации
      </div>
    </div>
  </div>
  <div class="success__top">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
        <div class="success__top-title col-md-8">
          <h2 class="my_title">
            История ассоциации
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="historyBlock">
    <div class="container">
      <p class="p-text">
        <img src="../../../assets/img/congress/univer.jpg" alt="1" class="leftimg">
        Ассоциация выпускников Томского государственного университета была официально зарегистрирована как
        юридическое
        лицо 20 апреля 1994 года при ректоре Михаиле Константиновиче Свиридове.
        Первым президентом Ассоциации был избран Феликс Петрович Тарасенко.
        В этом же году, 23 декабря, прошло первое собрание выпускников, инициированное Ассоциацией.
        29 июня 1995 года для новоявленных выпускников был организован первый «День выпускника».
      </p>
      <p class="p-text">
        С 1995 по 1997 год Ассоциация проводила акцию «Поддержи», направленную на помощь в реконструкции
        Главного корпуса университета.
        Были выпущены благотворительные билеты, все средства от продажи которых пошли на реставрацию.
        В рамках акции от Государственной Думы Томской области были разосланы обращения к
        Государственным Думам других областей с просьбой о поддержке и участии в ремонте корпуса.
        Многие предприятия из соседних регионов откликнулись на этот призыв, предоставив необходимые
        строительные материалы.
        Кроме того, 24 февраля 1996 года состоялся благотворительный концерт с участием Александра Городницкого
        и клуба «КОМУ»
        («Клуб Отдыха Молодых Ученых»), на котором также проходил сбор средств.
        В 1998 году, к 120-летию университета, Главный корпус был восстановлен.
      </p>
      <p class="p-text">
        <img src="../../../assets/img/congress/students1.jpg" alt="1" class="rightimg">
        За прошедшие 20 лет нормативно-правовой статус Ассоциации менялся несколько раз.
        Все попытки работать в статусе юридического лица быстро заканчивались из-за чрезмерной отчетности и
        отсутствия своей финансовой деятельности (все денежные потоки всегда шли прямо в университет).
        С 22 мая 2015 года Ассоциация выпускников ТГУ действует как общественная организация без образования
        юридического лица.
        Эта форма позволяет выполнять все поставленные перед организацией задачи,
        а финансовыми операциями занимается Эндаумент университета.
        Президентом Ассоциации выпускников избран Эдуард Владимирович Галажинский.
      </p>
    </div>
  </div>
</div>

<body>
  <div class="success__top">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
        <div class="success__top-title col-md-8">
          <h2 class="my_title">
            Фотогалерея
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="gallery">
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Eagle" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Pasta" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Squash" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Hills" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Sandwiches" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Plums" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Grape" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" alt="Silhouette" /></a>
        <figcaption>Фото</figcaption>
      </figure>
      <figure class="photo">
        <a href="../../../assets/img/congress/students.jpg" data-lightbox="roadtrip" data-title="Фото"><img
            src="../../../assets/img/congress/students.jpg" /></a>
        <figcaption>Фото</figcaption>
      </figure>
    </div>
  </div>
</body>