<div class="creativity">
    <div class="creativity__wrapper">
        <div class="creativity__crumbs">
            <div class="container justify-content-center">
                <a href="#" class="creativity__crumbs-link">Главная</a>
                /
                <a>Творчество выпускников</a>
            </div>
        </div>
        <div class="creativity__top">
            <div class="container">
                <div class="creativity__top__wrapper">
                    <div class="creativity__top-title">
                        <h1>Творчество выпускников</h1>
                    </div>
                    <div class="creativity__top-search">
                        <input class="creativity__top-input-search">
                        <button class="search-button"><img src="../../../assets/img/search.svg"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="creativity__content">
            <div class="container">
                <div class="creativity__content__wrapper">
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-description">
                            <h2 class="card-description-top"> Поддубная Тамара <br> Николаевна </h2>
                            <h6 class="card-title2"> Мой храм, мой университет!</h6>
                        </div>
                        <div class="card-img-wrapper">
                            <img class="card-img" src="../../../assets/img/creative/card.jpg">
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">Стихотворение</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creativity__content__change-page__wrapper">
                <div class="change-page__list-circle"><img class="creativity__content__change-page"
                        src="../../../assets/img/creative/previous.png"></div>
                <div class="change-page__list-circle">1</div>
                <div class="change-page__list-circle">2</div>
                <div class="change-page__list-circle">3</div>
                <div class="change-page__list-circle"><img class="creativity__content__change-page"
                        src="../../../assets/img/creative/next.png"></div>
            </div>
        </div>
    </div>
</div>