<div class="about_project">
    <div class="about_project__crumbs">
        <div class="container justify-content-center">
            <div class="about_project__crumbs-wrapper">
                <a href="#" class="about_project__crumbs-link"> Главная </a>
                &nbsp;/ &nbsp;О проекте
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about_project__wrapper">
            <div class="row">
                <div class="about_project__top-title">
                    <h2 class="my_title about_project-title">О проекте</h2>
                </div>
            </div>
            <div class="about_project__content">
                <p class="p-text">
                    <img src="../../../assets/img/news/1.jpg" alt="1" class="leftimg">
                    Ежегодно стены НГТУ покидает 2,5 тысячи выпускников, каждый из которых находит свой путь в жизни
                    зачастую в других городах и странах.
                    <br><br>
                    Целью проекта стала идея объединить всех выпускников Нижегородского политеха и создать большое
                    дружное сообщество, которое будет нести его ценности, защищать и продвигать интересы настоящих и
                    будущих выпускников.

                </p>
                <p class="p-text">
                    Мы создали уникальную площадку, где выпускники Нижегородского политехнического университета смогут
                    найти всю необходимую информацию о давних друзьях и преподавателях, самостоятельно пригласить в
                    сообщество одногруппника, одним кликом органускников, рассчитанная на дополнительное
                    профессиональное образование и получение высшего образования для родственников.

                    Ежегодно стены НГТУ покидает 2,5 тысячи выпускников, каждый из которых находит свой путь в жизни
                    зачастую в других городах и странах.
                    <br><br>
                    Целью проекта стала идея объединить всех выпускников Нижегородского политеха и создать большое
                    дружное сообщество, которое будет нести его ценности, защищать и продвигать интересы настоящих и
                    будущих выпускников.
                    <img src="../../../assets/img/news/1.jpg" alt="1" class="rightimg">
                    Мы создали уникальную площадку, где выпускники Нижегородского политехнического университета смогут
                    найти всю необходимую информацию о давних друзьях и преподавателях, самостоятельно пригласить в
                    сообщество одногруппника, одним кликом органускников, рассчитанная на дополнительное
                    профессиональное образование и получение высшего образования для родственников.

                    Ежегодно стены НГТУ покидает 2,5 тысячи выпускников, каждый из которых находит свой путь в жизни
                    зачастую в других городах и странах.
                    <br><br>
                    Целью проекта стала идея объединить всех выпускников Нижегородского политеха и создать большое
                    дружное сообщество, которое будет нести его ценности, защищать и продвигать интересы настоящих и
                    будущих выпускников.
                    Мы создали уникальную площадку, где выпускники Нижегородского политехнического университета смогут
                    найти всю необходимую информацию о давних друзьях и преподавателях, самостоятельно пригласить в
                    сообщество одногруппника, одним кликом органускников, рассчитанная на дополнительное
                    профессиональное образование и получение высшего образования для родственников.

                    Ежегодно стены НГТУ покидает 2,5 тысячи выпускников, каждый из которых находит свой путь в жизни
                    зачастую в других городах и странах.
                    <br><br>
                    Целью проекта стала идея объединить всех выпускников Нижегородского политеха и создать большое
                    дружное сообщество, которое будет нести его ценности, защищать и продвигать интересы настоящих и
                    будущих выпускников.
                </p>
            </div>
            <div class="main__slider">
                <swiper [pagination]="{
                    clickable: true
                  }" [autoHeight]="true" [grabCursor]="true" [loop]="true" class="mySwiper">
                    <ng-template swiperSlide *ngFor="let img of slider_imgs">
                        <img src={{img.imgurl}} alt="" class="main__slider-img">
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>

</div>