<div class="registration">
  <div class="registration-body">
    <div class="registration-body__wrapper container">
      <p class="hint-text translucent-hint-text"><strong class="star">*</strong> - поля обязательные для заполнения.</p><br>
      <h3 class="registration-body__title">Обучение</h3>
      <br>
      <p class="hint-text">Указывать можно только образование, полученное в НГТУ.</p>
      <br>
      <p class="hint-text">Воспользуйтесь данной формой поиска вашей выпускной группы. Если вы точно помните номер вашей группы – то можете сразу это указать, иначе воспользуйтесь фильтрами поиска.</p>
      <br>
      <p class="hint-text">Обращаем внимание, что если в списке нет вашей группы или кафедры – вам нужно об этом сообщить на почтовый ящик alumni@ngtu.ru указав полное и краткое название кафедры и номер вашей группы.</p>
      <br>
      <p class="hint-text">Написание выпускных групп взято из архива НГТУ, начиная с 1970 года.</p>
      <table>
        <tr>
          <td><p class="registration-body__text">Институт / Факультет</p></td>
          <td>
            <select class="registration-body__input" placeholder="1">
              <option>Введите хотя бы одну букву</option>
              <option></option>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Кафедра</p></td>
          <td>
            <select class="registration-body__input">
              <option>Введите хотя бы одну букву</option>
              <option></option>
              <option></option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text" >Форма обучения</p></td>
          <td>
            <select class="registration-body__input">
              <option>Очная</option>
              <option>Заочная</option>
              <option>Очно-заочная</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text" >Уровень квалификации</p></td>
          <td>
            <select class="registration-body__input">
              <option>Аспирант</option>
              <option>Бакалавр</option>
              <option>Дипломированный специалист</option>
              <option>Магистр</option>
              <option>Специалист</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text" >Год окончание</p></td>
          <td><input class="registration-body__input-date" maxlength="4"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Группа<strong class="star">*</strong></p></td>
          <td>
            <select class="registration-body__input">
              <option>Укажите хотя бы одну букву</option>
              <option></option>
              <option></option>
            </select>
          </td>
        </tr>
        <br>
        <br>
      </table>
      <button class="registration-body__next-button">Далее</button>
      <br>
      <br>
      <p class="registration-body__text">Уже есть аккаунт? <a class="registration-body__link-to-auth" href="#">Войдите</a>.</p>
    </div>
  </div>
</div>
