<div class="Congress">
    <div class="success__crumbs">
        <div class="container justify-content-center">
            <div class="success__crumbs-wrapper">
                <a href="#" class="success__crumbs-link">
                    Главная
                </a>
                &nbsp;/ &nbsp;Конгресс выпускников
            </div>
        </div>
    </div>
    <div class="success__top">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
                <div class="success__top-title col-md-8">
                    <h2 class="my_title">
                        Конгресс выпускников НГТУ
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="congressBlock">
        <div class="container">
            <p class="p-text">
                <img src="../../../assets/img/congress/std2.jpg" alt="1" class="leftimg">
                28 мая 2015 года в Томском государственном университете прошел Первый Конгресс выпускников ТГУ,
                приуроченный к 137-летию университета. На мероприятии собралось 112 выпускников разных лет.
                Конгресс начался с экскурсий по музеям ТГУ, Сибирскому ботаническому саду.
                Затем выпускники приняли участие в работе двух круглых столов: «Вместе готовим кадры будущего»,
                под председательством проректора по учебной работе Виктора Дёмина, и «Инновации, наука,
                бизнес: перспективы и возможности», под председательством проректора по научной работе Ивана Ивонина
            </p>
            <p class="p-text">
                На круглом столе по подготовке кадров обсуждались вопросы взаимодействия университета с работодателями,
                участие выпускников в подготовке и переподготовке кадров, возможность выпускников стать кураторами
                практик и стажировок студентов.
                В работе секции конгресса выпускников, посвященной инновациям, науке и бизнесу, приняли участие
                руководители томских предприятий,
                научно-исследовательских институтов, представители вузов и общественности, а также руководители научных
                подразделений ТГУ.
                Главной темой круглого стола «Инновации, наука, бизнес: перспективы и возможности» стали возможности для
                участия выпускников
                в формировании внешнего инновационного контура университета. В первой части заседания университетские
                эксперты рассказали
                об опыте вуза по выводу на рынок инновационных разработок. Был также представлен опыт работы
                научно-инжинирингового центра ТГУ —
                о нем рассказал руководитель центра Алексей Алексеенко. А выпускник факультета информатики Роман Малахов
                поделился знаниями о том,
                как организована молодежная инновационная среда в Финляндии.
            </p>
            <p class="p-text">
                <img src="../../../assets/img/congress/univer.jpg" alt="1" class="rightimg">
                В итоге в резолюцию заседания были вынесены несколько тезисов.
                В частности, идея предложить выпускникам сформировать базу данных о научно-технических проблемах
                предприятий,
                на которых они работают, для совместного решения с использованием имеющихся инструментов (ФЦП, гранты,
                хоздоговора и т. д.).
                По просьбе выпускников решено расширить информирование предприятий и организаций о научно-технических
                мероприятиях (симпозиумы,
                конференции, семинары и др.), проводимых на базе ТГУ.
            </p>
            <p class="p-text">Целесообразным признано создание Комитета по вопросам взаимодействия выпускников и
                университета в области инноваций, науки,
                бизнеса в рамках Ассоциации выпускников ТГУ.
                После завершения работы круглых столов состоялось общее собрание Конгресса.
                Ректор университета Эдуард Галажинский рассказал о стратегии развития ТГУ,
                советник ректора Георгий Дунаевский представил доклад о деятельности Ассоциации выпускников и об ее
                нормативной базе,
                Виктор Дёмин и Иван Ивонин подвели результаты заседания круглых столов. Кроме того, прошло вручение
                наградных знаков выпускникам,
                тесно сотрудничающим с университетом и Ассоциацией выпускников ТГУ.
            </p>
        </div>
    </div>
    <div class="main__slider">
        <section class="pre-img">
        </section>
        <swiper [pagination]="{
            clickable: true
          }" [autoplay]="{delay: 2500, disableOnInteraction: false}" [grabCursor]="true" [loop]="true"
            class="mySwiper">
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
            <ng-template swiperSlide>
                <img src="../../../assets/img/congress/students1.jpg" alt="" class="main__slider-img">
            </ng-template>
        </swiper>
        <section class="post-img">
            <p class="name">Конгресс выпускников</p>
        </section>
    </div>
</div>