.success__crumbs {
  /*font-family: "Open Sans", sans-serif;*/
  color: white;
  background-color: #0072bc;
  padding: 5px;
}

.success__crumbs-link {
  color: white;

  &:hover {
    text-decoration: underline;
  }
}

.success__top {
  margin-top: 40px;
  margin-bottom: 10px;
}

.p-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  text-align: justify;
}

.congressBlock {
  margin-bottom: 100px;
  margin-top: 40px;
}

.main__slider{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main__slider-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pre-img{
  height: 20px;
  background-color: #1a254a;
}

.name{
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #cccccc;
}

.post-img{
  background-color: #1a254a;
  margin-bottom: 100px;
}

.rightimg{
  width: 30%;
  height: 25%;
  margin-left: 40px;
  margin-bottom: 30px;
  float: right;
  box-shadow: 0px 0px 10px 5px #999999;
}

.leftimg {
  width: 17%;
  height: 18%;
  margin-bottom: 20px;
  margin-right: 40px;
  float:left;
  box-shadow: 0px 0px 10px 5px #999999;
}

@media (max-width: 800px) {
  .leftimg{
    width: 40%;
  }

  .rightimg{
    width: 50%;
  }
}

@media (max-width: 600px) {
  .main__slider {
    width: 100%;
  }

  .leftimg{
    width: 50%;
  }

  .rightimg{
    width: 45%;
  }
}

@media (max-width: 350px) {
  .main__slider {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .rightimg{
    width: 50%;
  }

  .leftimg{
    width: 50%;
  }
}

@media (max-width: 400px) {
  .rightimg{
    width: 100%;
  }

  .leftimg{
    width: 100%;
  }
}
