<div class="news">
  <div class="news__wrapper">
    <div class="news__crumbs">
      <div class="container justify-content-center">
        <a>Главная</a>
        /
        <a>Новости</a>
      </div>
    </div>
    <div class="news__top">
      <div class="container">
          <div class="news__top__wrapper">
            <div class="news__top-title">
              <h1>Категория: Новости</h1>
            </div>
            <div class="news__top-search">
              <input class="news__top-input-search" >
              <button class="search-button"><img src="../../../assets/img/search.svg"></button>
            </div>
          </div>
      </div>
    </div>
    <div class="news__content">
      <div class="container">
        <div class="news__content__wrapper">
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость1</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость2</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость3</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость4</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость5</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-congratulation">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость6</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость7</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/news/new-1.png">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-event">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость8</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-img-wrapper">
              <img class="card-img" src="../../../assets/img/alumnistories/BorCity.jpg">
            </div>
            <div class="card-description">
              <span class="card-description-category card-description-category-education">Образование</span>
              <span class="card-description-time">28.03.2022</span>
            </div>
            <div class="card-body">
              <h2 class="card-title">Очень важная новость9</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="news__content__change-page__wrapper">
            <div class="change-page__list-circle"><img class="news__content__change-page" src="../../../assets/img/previous.svg"></div>
            <div class="change-page__list-circle">1</div>
            <div class="change-page__list-circle">2</div>
            <div class="change-page__list-circle">3</div>
            <div class="change-page__list-circle"><img class="news__content__change-page" src="../../../assets/img/next.svg"></div>
      </div>
    </div>
  </div>
</div>
