<div class="registration">
  <div class="registration-body">
    <div class="registration-body__wrapper container">
      <p class="hint-text translucent-hint-text"><strong class="star">*</strong> - поля обязательные для заполнения.</p><br>
      <p class="hint-text">Укажите Ваше образование, полученное в Нижегородском политехническом университете.</p>
      <br>
      <table>
        <tr><h3 class="registration-body__title">Карьера</h3></tr>
        <tr>
          <td><p class="registration-body__text">Место работы</p></td>
          <td><input class="registration-body__input"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Должность</p></td>
          <td><input class="registration-body__input" type="password"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Период работы<strong class="star">*</strong></p></td>
          <td>
            <form class="for_display">
              <input class="registration-body__input-date" type="date">
              <input class="registration-body__input-date" type="date">
            </form>
          </td>
        </tr>
        <br>
        <br>
      </table>
      <button class="registration-body__next-button">Завершить регистрацию</button>
      <br>
      <br>
      <p class="registration-body__text">Уже есть аккаунт? <a class="registration-body__link-to-auth" href="#">Войдите</a>.</p>
    </div>
  </div>
</div>
