<footer class="footer">
   <div class="footer__wrapper">
      <div class="footer__top">
         <div class="container">
            <div class="footer__top-wrapper row">
               <div class="footer__left col-lg-6">
                  <p class="footer__left-text">
                     Вы планируете организовать встречу выпускников? Напишите нам.
                     Мы можем помочь организовать экскурсии в университете, организовать встречу с вашими
                     преподавателями и
                     руководством факультета, ответить на интересующие вас вопросы.
                  </p>
                  <p class="footer__left-text">
                     г. Томск, ул. Герцена, д. 2, этаж 3, офис 7
                  </p>
                  <p class="footer__left-text">
                     Тел.: (3822) 783-705, (3822) 783-740
                  </p>
                  <a class="footer__left-text" href="mailto:alumni@mail.tsu.ru">
                     E-mail: alumni@mail.tsu.ru
                  </a>
               </div>

               <div class="footer__right col-lg-5">
                  <form action="" class="footer__form">
                     <div class="footer__form-item">
                        <p class="footer__form-text">ФИО</p>
                        <input type="text" class="footer__form-input" placeholder="Иванов Иван Иванович">
                     </div>
                     <div class="footer__form-item">
                        <p class="footer__form-text">Электронная почта</p>
                        <input type="text" class="footer__form-input" placeholder="example@mail.ru">
                     </div>
                     <div class="footer__form-item">
                        <p class="footer__form-text">Текст сообщения</p>
                        <textarea name="" id="" cols="30" rows="7" class="footer__form-textarea"
                           placeholder="Введите ваше сообщение"></textarea>
                     </div>
                     <button class="footer__form-btn">Отправить</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="footer__bottom">
         <div class="container">
            <div class="footer__text">
               ©2022 Ассоциация выпускников НГТУ
            </div>
         </div>
      </div>
   </div>
</footer>