<div class="Support">
  <div class="success__crumbs">
    <div class="container justify-content-center">
      <div class="success__crumbs-wrapper">
        <a href="#" class="success__crumbs-link">
          Главная
        </a>
        &nbsp;/ &nbsp;Поддержка НГТУ
      </div>
    </div>
  </div>
  <div class="success__top">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
        <div class="success__top-title col-md-8">
          <h2 class="my_title">
            Поддержка НГТУ
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="supportBlock">
    <div class="container">
      <p class="p-text">
        <a href="">Фонд</a> целевого капитала Нижегородского политехнического университета создан в соответствии с <a
          href="">Федеральным законом от 30 декабря 2006 г. N 275-ФЗ "О порядке формирования и использования целевого
          капитала некоммерческих организаций"</a>
      </p>
      <p class="p-text">
        Основной целью создания Фонда целевого капитала в Нижегородском политехническом университете является
        формирование и использование дохода от целевого капитала как долговременного устойчивого дополнительного
        источника развития НГТУ.
      </p>
      <p class="p-text">
        Основные задачи Фонда целевого капитала ТПУ:
      </p>
      <ul>
        <li class="p-text">Повышение качества и престижности инженерного образования, создание эффективного механизма
          взаимодействия бизнеса и вузовской науки;</li>
        <li class="p-text">Создание мощной материально-технической платформы для развития научно-образовательного
          потенциала Нижегородского политехнического университета;</li>
        <li class="p-text">Финансирование инвестиционных проектов, научно-исследовательской работы студентов и
          преподавателей университета;</li>
        <li class="p-text">Финансовая поддержка целевых программ НГТУ посредством налаживания тесного диалога
          университета с бизнес–сообществом.</li>
      </ul>

      <p class="p-text">
        Дотация в Фонд целевого капитала НГТУ – это возможность внести свой вклад в развитие высшего инженерного
        образования России. Размер пожертвования не имеет значения, главное – участие. Инвестиции в образование – это
        инвестиции в будущее.
      </p>
      <p class="p-text">
        Нижегородский политехнический ждет Вашей поддержки!
      </p>
      <p class="p-text">
        Вопросы и идеи, связанные с деятельностью <a href="">Фонда</a> целевого капитала Нижегордского политехнического
        университета, просим направлять директору Фонда Лозовой Л.А. по e-mail: <a href="">lozovaya@ngtu.ru.</a>
      </p>
    </div>
  </div>
</div>