<div class="meetings">
  <div class="meetings__wrapper">
    <div class="meetings__crumbs">
      <div class="container justify-content-center">
        <a>Главная</a>
        /
        <a>Юбилейные встречи</a>
      </div>
    </div>
    <div class="meetings__text">
      <div class="container">
        <h1 class="meetings__text-caption">Юбилейные встречи выпускников</h1>
        <p class="meetings__text-text">
          <strong>Как здорово, что все мы здесь сегодня собрались</strong><br>
          <strong><i>ТГУ проходят традиционные встречи выпускников</i></strong><br>
          Июнь 2015<br><br>

          Встречи выпускников ТГУ начались после первого Конгресса выпускников, который прошел 28 мая и был приурочен к 137-летию университета.
          На мероприятие собралось 112 выпускников разных лет. В ходе Конгресса были разработаны механизмы взаимодействия  выпускников и университета в области
          образования, науки и инноваций. Кроме того, была предложена инициатива о создании комитетов по образованию и инновациям, в которые будут входить выпускники.
          Первый Конгресс выпускников стал важным элементом в установлении прочного и долгосрочного взаимодействия университета и выпускников.
          Встречи выпускников традиционно проходят в ТГУ в мае-июне. Уже прошли юбилейные встречи таких факультетов, как экономический (25 лет),
          физико-технический (50 лет), биологический институт (25 лет), факультет прикладной математики (35 лет), радио-физический (50 лет),
          механико-математический (45 лет). В этом году выпускники начали активно обращаться в Центр работы с выпускниками ТГУ за содействием
          в организации и проведении встреч. Все участники встреч заполнили анкеты и получили памятные сувениры от университета. Многие выпускники
          приняли участие в пополнении Эндаумента ТГУ.<br><br>

          Директор Центра работы с выпускниками ТГУ Строителева Анна Александровна отмечает: «Данные встречи очень важны  с точки зрения установления и укрепления
          контактов между альма-матер и выпускниками, которые получают информацию о современной жизни университета и перспективах его развития. Многие выпускники,
          приехавшие из разных точек земного шара, уезжают наполненными приятными впечатлениями и воспоминаниями и с понимаем того, что университет помнит своих
          выпускников и гордится ими».
        </p>
      </div>
    </div>
    <div class="meetings__slider container">
      <swiper [pagination]="{
            clickable: true
          }" [autoplay]="{delay: 2500, disableOnInteraction: false}" [grabCursor]="true" [loop]="true"
              class="mySwiper">
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-1.png" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-1.png" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-1.png" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-2.jpg" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-2.jpg" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-2.jpg" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-2.jpg" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/news/new-2.jpg" alt="" class="main__slider-img">
        </ng-template>
        <ng-template swiperSlide>
          <img src="../../../assets/img/main__slider-img-one.png" alt="" class="main__slider-img">
        </ng-template>
      </swiper>
      <div class="meetings__slider-bottom">
        25-ти летний юбилей
      </div>
    </div>
    <div class="meetings__cards">
      <div class="meetings__cards__wrapper container">
        <div class="card">
          <div class="card-description">
            <h2 class="card-title">35 летний юбилей</h2>
            <h5 class="card-subtitle">Lorem ipsum</h5>
          </div>
          <div class="card-img-wrapper">
            <img class="card-img" src="../../../assets/img/news/new-2.jpg">
          </div>
        </div>
        <div class="card">
          <div class="card-description">
            <h2 class="card-title">45 летний юбилей</h2>
            <h5 class="card-subtitle">Lorem ipsum</h5>
          </div>
          <div class="card-img-wrapper">
            <img class="card-img" src="../../../assets/img/news/new-1.png">
          </div>
        </div>
        <div class="card">
          <div class="card-description">
            <h2 class="card-title">25 летний юбилей</h2>
            <h5 class="card-subtitle">Lorem ipsum</h5>
          </div>
          <div class="card-img-wrapper">
            <img class="card-img" src="../../../assets/img/news/new-1.png">
          </div>
        </div>
        <div class="card">
          <div class="card-description">
            <h2 class="card-title">35 летний юбилей</h2>
            <h5 class="card-subtitle">Lorem ipsum</h5>
          </div>
          <div class="card-img-wrapper">
            <img class="card-img" src="../../../assets/img/news/new-2.jpg">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
