<div class="History-ngtu">
  <div class="success__crumbs">
    <div class="container justify-content-center">
      <div class="success__crumbs-wrapper">
        <a href="#" class="success__crumbs-link">
          Главная
        </a>
        &nbsp;/ &nbsp;Сувенирная продукция
      </div>
    </div>
  </div>
  <div class="success__top">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 justify-content-between align-items-center">
        <div class="success__top-title col-md-8">
          <h2 class="my_title">
            Сувенирная продукция НГТУ
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="suvenirsBlock">
    <div class="container">
      <p class="p-text">
        <a href="">Политехник</a> – по праву звучит гордо! А выпускник – уважительно. Нас всегда можно распознать не
        только по характеру и мышлению. Но и по знакам…
      </p>
      <p class="p-text">
        Знаки – это то, что выделяет нас среди людей. В ТПУ разработана целая линейка знаков для выпускников. Начиная от
        значков с символикой и заканчивая теплыми уютными кофтами.
      </p>
      <p class="p-text">
        Вся продукция представлена в интернет-магазине <a href="">shop.tpu.ru</a>. Любой сувенир и одежду вы сможете
        заказать, не выходя из дома.
      </p>
      <p class="p-text">
        Не теряйте духовной связи с родным вузом, носите гордое звание <a href="">Политехника!</a> Только мы можем
        пронести уникальное чувство братства томских политехников сквозь годы и десятилетия.
      </p>
      <table align="center">
        <tr>
          <td align="center"><img class="web" src="../../../assets/img/suvenirs/suv1.jpg" alt="" style="width: 100%;"
              data-ptag="23153"> </td>
          &nbsp;
          <td align="center"><img class="web" alt="" src="../../../assets/img/suvenirs/suv2.jpg" style="width: 100%;">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>