html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: 100%;
   overflow-x: hidden;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
   border: none;
}

a {
   color: #ffffff;
   text-decoration: none;
   :hover {
      color: #253469;
   }
}

body {
   height: 100%;
   width: 100%;
   font-family: "Open Sans", sans-serif;
   font-size: 16px;
   line-height: 130%;
   margin: 0px;
   padding: 0px;
   background: #ffffff;
}

.container {
   margin: 0 auto;
   padding: 0 10px;
}

@media (min-width: 1400px) {
   .container {
      max-width: 1320px;
   }
}

.logo {
}

.my_title {
   font-family: "Merriweather", serif;
   font-weight: 400;
   font-size: 40px;
   color: #212121;
}

.my_link {
   background: #4ab8ff;
   border-radius: 40px;
   padding: 15px;
   font-weight: 400;
   font-size: 20px;
   color: #ffffff;
   cursor: pointer;
   :hover {
      color: #253469;
   }
}
