<div class="auth__background"></div>
<div class="auth">
  <div class="container auth__wrapper">
    <div class="auth__top">
      <div class="auth__top-top">
        <h3 class="auth__top-title">Введите свои данные:</h3><br>
      </div>
      <div class="auth__top-bottom">
        <p class="auth__top-bottom-or">или</p>
        <p class="auth__top-bottom-create-account">создайте аккаунт</p>
      </div><br>
    </div>
    <div class="auth__main__wrapper">
      <input class="auth__input" placeholder="Имя пользователя"><br><br>
      <input class="auth__input" placeholder="Пароль"><br><br>
      <button class="auth__button">Войти в систему</button>
    </div><br>
    <div class="auth__bottom">
      <div class="auth__bottom-checkbox">
        <input type="checkbox" class="auth__bottom-checkbox-button" id="scales" name="scales" checked>
        <label for="scales">Запомнить</label>
      </div>
      <p class="auth__top-bottom-create-account">Забыли пароль?</p>
    </div>
  </div>
</div>
