<div class="branches">
  <div class="branches__wrapper container">
    <br>
    <h1 class="branches-main-title">Филиалы и представительства</h1>
    <br>
    <p class="branches-text">В городах и на крупных предприятиях организуются отделения Ассоциации выпускников ТПУ, которые:</p>
    <ul>
      <li class="branches-text">оказывают помощь руководителям предприятий в заключении договоров с ТПУ и содействуют их реализации,</li>
      <li class="branches-text">организуют чтение лекций учеными ТПУ для ИТР и сотрудников предприятий,</li>
      <li class="branches-text">оказывают помощь в обучении специалистов предприятий в ТПУ,</li>
      <li class="branches-text">организуют стажировки преподавателей и студенческую практику, экскурсии студентов на предприятиях,</li>
      <li class="branches-text">освещают в корпоративных изданиях деятельность ученых и преподавателей, направления учебы студентов ТПУ,
        агитируют школьников на обучение в ТПУ.</li>
    </ul>
    <br>
    <table class="branches-table container">
      <tr>
        <td class="color1"><strong>№</strong></td>
        <td class="color2"><strong>Филиалы Ассоциации</strong></td>
        <td class="color3"><strong>Руководитель</strong></td>
        <td class="color4"><strong>Контакты</strong></td>
      </tr>
      <tr>
        <td colspan="4" class="delimiter">Томск, Томская Область</td>
      </tr>
      <tr>
        <td class="color1">1</td>
        <td class="color2">ОАО «Томские мельницы»</td>
        <td class="color3">Букин
          Владимир Александрович,
          <br>
          главный механик</td>
        <td class="color4">643009, г. Томск, ул. Мельничная, 40,

          тел.: (3822)40-81-71</td>
      </tr>
      <tr>
        <td class="color1">2</td>
        <td class="color2">ФГУП «Томский электротехнический завод»</td>
        <td class="color3">Посторов
          Михаил Павлович,
          <br>
          заместитель главного
          инженера</td>
        <td class="color4">634041, г. Томск, пр. Кирова, 51а,

          тел.: (3822)55-76-48,
          pmp@tetz.ru</td>
      </tr>
      <tr>
        <td class="color1">3</td>
        <td class="color2" >ООО «Электрозавод»</td>
        <td class="color3">Гусельников
          Андрей Эдуардович,
          <br>
          заместитель главного
          инженера</td>
        <td class="color4">634012, г. Томск, ул. Елизаровых, 46/5,
          тел.: (3822) 480-277,
          cот.: 8-913-828-40-51,
          repair-tomsk@yandex.ru</td>
      </tr>
      <tr>
        <td class="color1">4</td>
        <td class="color2">ООО «Сибметахим»</td>
        <td class="color3">Надворная
          Виолетта Николаевна,
          <br>
          специалист по развитию
          производства</td>
        <td class="color4">634067, г. Томск, Кузовлевский тракт, 2, строение 169,
          cот.: 8-913-821-7691,
          NadvornayaVN@smd-chem.ru</td>
      </tr>
    </table>
    <br>
    <br>
  </div>
</div>
