<div class="registration">
  <div class="registration-body">
    <div class="registration-body__wrapper container">
      <p class="hint-text translucent-hint-text"><strong class="star">*</strong> - поля обязательные для заполнения.</p><br>
      <p class="hint-text">Укажите Ваше образование, полученное в Нижегородском политехническом университете.</p>
      <br>
      <table>
        <tr>
          <td><p class="registration-body__text">Форма обучения<strong class="star">*</strong></p></td>
          <td>
            <select class="registration-body__input">
              <option>Очная</option>
              <option>Заочная</option>
              <option>Очно-заочная</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Год поступления<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input-date" maxlength="4"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text" >Год окончание<strong class="star">*</strong></p></td>
          <td><input class="registration-body__input-date" maxlength="4"></td>
        </tr>
        <tr>
          <td><p class="registration-body__text">Уровень образования<strong class="star">*</strong></p></td>
          <td>
            <select class="registration-body__input">
              <option>Высшее образование</option>
              <option>Послевузовое образование</option>
              <option>Предвузовое образование</option>
            </select>
          </td>
        </tr>
        <br>
        <br>
      </table>
      <button class="registration-body__next-button">Далее</button>
      <br>
      <br>
      <p class="registration-body__text">Уже есть аккаунт? <a class="registration-body__link-to-auth" href="#">Войдите</a>.</p>
    </div>
  </div>
</div>
