<div class="management">
  <div class="management__wrapper container">
    <h1 class="management__header">Руководство</h1>
    <br>
    <div class="management__delimiter">
      Президент Ассоциации выпускников НГТУ
    </div>
    <br>
    <br>
    <div class="management__row">
      <div class="management__card">
        <div>
          <div class="management__card-top">
            <p>Язиков Егор Григорьевич</p>
          </div>
          <div class="management__card-body">
            <img class="management__card-body-img" src="assets/img/history__bg.png">
            <div class="management__card-body-text">
              <p>профессор Отделения геологии ТПУ,<br>
                тел.: <strong>(3822) 606-199,</strong><br>
                e-mail: <strong>yazikoveg@tpu.ru</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="management__delimiter">
      Вице-президенты  Ассоциации выпускников НГТУ
    </div>
    <br>
    <br>
    <div class="management__row">
      <div class="management__card">
        <div>
          <div class="management__card-top">
            <p>Язиков Егор Григорьевич</p>
          </div>
          <div class="management__card-body">
            <img class="management__card-body-img" src="assets/img/history__bg.png">
            <div class="management__card-body-text">
              <p>Директор Инженерной школы природных ресурсов,<br>
                тел.: <strong>+7 (3822) 70-17-77 вн.т. 1003,</strong><br>
                e-mail: <strong>yasboev@tpu.ru</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="management__card">
        <div>
          <div class="management__card-top">
            <p>Язиков Егор Григорьевич</p>
          </div>
          <div class="management__card-body">
            <img class="management__card-body-img" src="assets/img/history__bg.png">
            <div class="management__card-body-text">
              <p>профессор Отделения геологии ТПУ,<br>
                тел.: <strong>(3822) 606-199,</strong><br>
                e-mail: <strong>yazikoveg@tpu.ru</strong></p>
            </div>
          </div>
        </div>
      </div>
      <div class="management__card">
        <div>
          <div class="management__card-top">
            <p>Язиков Егор Григорьевич</p>
          </div>
          <div class="management__card-body">
            <img class="management__card-body-img" src="assets/img/history__bg.png">
            <div class="management__card-body-text">
              <p>профессор Отделения геологии ТПУ,<br>
                тел.: <strong>(3822) 606-199,</strong><br>
                e-mail: <strong>yazikoveg@tpu.ru</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="management__delimiter">
      Президиум Ассоциации НГТУ
    </div>
    <br>
    <br>
    <table class="management__table">
      <tr>
        <td class="management__table-name"><strong>Бутенко</strong><br> Виктор<br> Александрович</td>
        <td class="management__table-description">председатель Совета ветеранов ТПУ, заместитель руководителя<br> Центра социальной работы,<br>
          тел.: +7 (3822) 70-17-77 Вн.т. 3045<br>
          e-mail: butenkov@tpu.ru</td>
      </tr>
      <tr>
        <td class="management__table-name"><strong>Кондаков</strong><br> Петр<br> Павлович</td>
        <td class="management__table-description">редактор отдела телевидения ГТРК «Томск»,<br>
          тел.: +7 (3822) 65-35-66,<br>
          факс: +7 (3822) 65-22-30,<br>
          e-mail: kondakov@tvtomsk.ru</td>
      </tr>
      <tr>
        <td class="management__table-name"><strong>Кривовяз</strong><br> Владимир<br> Ильич</td>
        <td class="management__table-description">Директор ООО «Провансаль»,<br>
          тел.: +7 (3822) 724-352,<br>
          e-mail: dir@provansal.ru</td>
      </tr>
    </table>
  </div>
</div>
